amqp==1.4.9
anyjson==0.3.3
backports-abc==0.4
billiard==3.3.0.23
celery==3.1.23
Django==3.0.3
django-celery==3.1.17
django-debug-toolbar==1.4
django-filter==0.13.0
django-redis==4.3.0
django-rest-assured==0.2.0
djangorestframework==3.9.1
kombu==3.0.35
pika==0.10.0
pytz==2016.2
redis==2.10.5
sqlparse==0.1.19
tornado==4.3
tornado-redis==2.4.18
flexmock==0.10.2
factory-boy==2.6.1